/* вторичный цвет фона #F5F4FA; */

/* цвет основного текста #757575; */

/* вторичный цвет текста  #212121; */

/* белый #FFFFFF; */

/* акцент #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}

/* Page header */

.page-header {
  background-color: #ffffff;

  display: flex;
  align-items: center;
}

/* Site nav */

.navigation {
  display: flex;
  align-items: center;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/*.site-nav .item:last-child {
margin-right: 0px;
}*/

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.info {
  display: flex;
  margin-left: auto;
}
.info .item + .item {
  margin-left: 50px;
}
.info .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}
.info .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* Hero */

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.feature-list {
  padding: 0px;
  margin-left: -30px;

  display: flex;
}
.feature-list > .feature {
  width: cal(100%/3-30px);
  margin-left: 30px;
}
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Services */

.services {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}

.services > .services-list {
  width: cal(100%/3-30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Team */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}
.team > .team-cards {
  width: cal(100%/4-30px);
  margin-left: 30px;
  margin-top: 30px;
}
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.team .text {
  font-size: 16px;
  line-height: 1.9;
}

/* Examples */
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}

.examples > .cards {
  width: cal(1 (00%-60px)/3);
  margin-left: 30px;
  margin-top: 30px;
}
.card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .text {
  font-size: 16px;
  line-height: 1.9;
}
/* Button */
.list-button {
  display: flex;
  justify-content: center;
}
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button-type {
  display: flex;
  border-radius: 4px;
  border: 1px Solid #f5f4fa;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button-type:hover,
.button-type:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*.button-type .item + .item {
  margin-left: 8px;
}*/

.examples .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.examples .link:hover,
.examples .link:focus {
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.address {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  font-style: normal;
}

.infolink .link-adress {
  color: #ffffff;
  text-decoration: none;
}

.infolink .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.infolink .link:hover,
.infolink .link:focus {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*outline: 1px solid tomato; */
}
